@model MIS.ViewModels.AtualRevenueBranchViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Import Data</h2>

<div class="col-md-3">
    @using (Html.BeginForm("FilterBranch", "UploadFile"))
            {

        <div class="form-group">

            @Html.LabelFor(m => m.Branches)
            @Html.DropDownListFor(m => m.Actual.BranchId, new SelectList(Model.Branches, "Id", "Name"), "Select Branches", new { @class = "form-control" })
        </div>


                @Html.HiddenFor(m => m.Actual.BranchId)
                <button type="submit" class="btn btn-primary">Save</button>

    }

</div>




<br /><br /><br /><br /><br /><br />

              @using (Html.BeginForm("Import", "UploadFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Raw(ViewBag.Error)


                <div class="form-group files color">
                    <label>Upload Your File </label>

                    <input name="excelfile" type="file" class="form-control" multiple="">
                </div>

                    <br />
                    @Html.HiddenFor(m => m.Actual.BranchId)
                    <input class="btn btn-primary center-block" type="submit" value="Import" />
                    }




                   
               