@model MIS.ViewModels.AtualRevenueBranchViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Import Data</h2>

<div class="col-md-3 col-md-push-9">
    @using (Html.BeginForm("FilterBranch", "UploadFile"))
            {

        <div class="form-group">

            @Html.LabelFor(m => m.Branches)
            @Html.DropDownListFor(m => m.Actual.BranchId, new SelectList(Model.Branches, "Id", "Name"), "Select Branches", new { @class = "form-control" })
        </div>


                @Html.HiddenFor(m => m.Actual.BranchId)
                <button type="submit" class="btn btn-primary">Save</button>

    }

</div>





<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


@using (Html.BeginForm("Import", "UploadFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Raw(ViewBag.Error)
    <span>Excel File </span><input type="file" name="excelfile" />
        <br />
        @Html.HiddenFor(m => m.Actual.BranchId)
        <input type="submit" value="Import" />
}




</div>