@model MIS.ViewModels.AtualRevenueBranchViewModel
@{
    ViewBag.Title = "Actual Revenue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Actual Revenue</h1>

  
        <div class="col-md-3 col-md-push-9">
            @using (Html.BeginForm("FilterBranch", "ActualRevenue"))
            {

                <div class="form-group">

                    @Html.LabelFor(m => m.Branches)
                    @Html.DropDownListFor(m => m.Actual.BranchId, new SelectList(Model.Branches, "Id", "Name"), "Select Branches", new { @class = "form-control" })
                </div>


                @Html.HiddenFor(m => m.Actual.BranchId)
                <button type="submit" class="btn btn-primary">Save</button>

            }

            </div>
   

    <div class="table-responsive-sm">
@using (Html.BeginForm("UpdateActualRevenue", "ActualRevenue"))
{
        <table class="table table-striped table-hover table-bordered">


            @{int mar = 0;}
            @{int f = 0;}
            @{int j = 0;}
            @{int a = 0;}
            @{int my = 0; }
            @{int ju = 0; }
            @{string jan = ""; }
            @{string feb = ""; }
            @{string march = ""; }
            @{string apr = ""; }
            @{string may = ""; }
            @{string June = ""; }
            @foreach (var ActualRevenue in Model.ActualRevenue)
            {


                if (ActualRevenue.WeekEndDate.ToString("MMMM") == "January")
                {
                    j++;

                    if (j == 4)
                    {
                        jan = "<td colspan=\"4\" class=\"text-center\">January</td>";
                    }
                    if (j == 5)
                    {
                        jan = "<td colspan=\"5\" class=\"text-center\">January</td>";
                    }



                }

                if (ActualRevenue.WeekEndDate.ToString("MMMM") == "February")
                {

                    f++;

                    if (f == 4)
                    {
                        feb = "<td colspan=\"4\" class=\"text-center\">February</td>";
                    }
                    if (f == 5)
                    {
                        feb = "<td colspan=\"5\" class=\"text-center\">JanuaryFebruary</td>";
                    }
                }

                if (ActualRevenue.WeekEndDate.ToString("MMMM") == "March")
                {
                    mar++;

                    if (mar == 4)
                    {
                        march = "<td colspan=\"4\" class=\"text-center\">March</td>";
                    }
                    if (mar == 5)
                    {
                        march = "<td colspan=\"5\" class=\"text-center\">March</td>";
                    }
                }




                if (ActualRevenue.WeekEndDate.ToString("MMMM") == "April")
                {
                    a++;

                    if (a == 4)
                    {
                        apr = "<td colspan=\"4\" class=\"text-center\">April</td>";
                    }
                    if (a == 5)
                    {
                        apr = "<td colspan=\"5\" class=\"text-center\">April</td>";
                    }
                }
                if (ActualRevenue.WeekEndDate.ToString("MMMM") == "May")
                {
                    my++;

                    if (my == 4)
                    {
                        may = "<td colspan=\"4\" class=\"text-center\">May</td>";
                    }
                    if (my == 5)
                    {
                        may = "<td colspan=\"5\" class=\"text-center\">May</td>";
                    }
                }


                if (ActualRevenue.WeekEndDate.ToString("MMMM") == "June")
                {
                    my++;

                    if (ju == 4)
                    {
                        June = "<td colspan=\"4\" class=\"text-center\">June</td>";
                    }
                    if (ju == 5)
                    {
                        June = "<td colspan=\"5\" class=\"text-center\">June</td>";
                    }
                }

            }

            <thead>
                <tr>

                    @Html.Raw(jan)
                    @Html.Raw(feb)
                    @Html.Raw(march)
                    @Html.Raw(apr)
                    @Html.Raw(may)
                    @Html.Raw(June)
                </tr>

            </thead>
            <tr>

                @{int i = 0;}
                @foreach (var ActualRevenue in Model.ActualRevenue)
                {



                    if (ActualRevenue.WeekEndDate.ToString("MMMM") == "January")
                    {
                        i++;


                        <td>Week @i<br />@ActualRevenue.Amount
                            <div class="form-group">@Html.TextBox("Amount_"+ @ActualRevenue.Id, @ActualRevenue.Amount, new {@class = "form-control", @style = "width:70px;" })  </div>
                </td>
                        

                            }
                            if (ActualRevenue.WeekEndDate.ToString("MMMM") == "February")
                            {
                            i++;


                            <td>Week @i<br />@ActualRevenue.Amount
                                <div class="form-group">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                </td>

                            }
                            if (ActualRevenue.WeekEndDate.ToString("MMMM") == "March")
                            {
                            i++;


                            <td>Week @i<br />@ActualRevenue.Amount
                                <div class="form-group">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                </td>

                            }
                            if (ActualRevenue.WeekEndDate.ToString("MMMM") == "April")
                            {
                            i++;


                            <td>Week @i<br />@ActualRevenue.Amount
                                <div class="form-group">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                </td>

                            }
                            if (ActualRevenue.WeekEndDate.ToString("MMMM") == "May")
                            {
                            i++;


                            <td>Week @i<br />@ActualRevenue.Amount
                                <div class="form-group">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                </td>

                            }



                            }
</tr>

        </table>        <button type="submit" class="btn btn-primary">Save</button>
                    }
    </div>
</div>


