@model MIS.ViewModels.AtualRevenueBranchViewModel
@{
    ViewBag.Title = "Actual Revenue - MIS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="page-header">Actual Revenue</h1>

  
        <div class="col-md-3">
            @using (Html.BeginForm("FilterBranch", "ActualRevenue"))
            {

                <div class="form-group">

                    @Html.LabelFor(m => m.Branches)
                    @Html.DropDownListFor(m => m.Actual.BranchId, new SelectList(Model.Branches, "Id", "Name"), "Select Branches", new { @class = "form-control" })
                </div>
                @Html.Hidden("BackView", "Index")
                @Html.HiddenFor(m => m.Actual.BranchId)
                <button type="submit" class="btn btn-primary">Save</button>

            }

            </div>
   <br /><br /><br /><br /><br /><br />

    @if (Model.ActualRevenue.Any())
    {

    <div class="table-responsive-sm">
@using (Html.BeginForm("UpdateActualRevenue", "ActualRevenue"))
{
   
    @Html.ActionLink("Click to Update", null, null, new { @onclick = "return updateDiv(this);" })

    for (int count = 2017; count <= 2018; count++)

    {
        <h2>@count.ToString()</h2>
        <table class="table table-striped table-hover table-bordered">


            @{int mar = 0;}
            @{int f = 0;}
            @{int j = 0;}
            @{int a = 0;}
            @{int my = 0; }
            @{int ju = 0; }
            @{int jul = 0; }
            @{int au = 0; }
            @{int se = 0; }
            @{int oc = 0; }
            @{int no = 0; }
            @{int de = 0; }
            @foreach (var ActualRevenue in Model.ActualRevenue)
            {
                if (ActualRevenue.WeekEndDate.ToString("yyyy") == count.ToString())
                {

                    if (ActualRevenue.WeekEndDate.ToString("MMMM") == "January")
                    {
                        j++;
                    }
                    if (ActualRevenue.WeekEndDate.ToString("MMMM") == "February")
                    {

                        f++;
                    }
                    if (ActualRevenue.WeekEndDate.ToString("MMMM") == "March")
                    {
                        mar++;
                    }
                    if (ActualRevenue.WeekEndDate.ToString("MMMM") == "April")
                    {
                        a++;

                    }
                    if (ActualRevenue.WeekEndDate.ToString("MMMM") == "May")
                    {
                        my++;
                    }
                    if (ActualRevenue.WeekEndDate.ToString("MMMM") == "June")
                    {
                        ju++;
                    }
                    if (ActualRevenue.WeekEndDate.ToString("MMMM") == "July")
                    {
                        jul++;
                    }
                    if (ActualRevenue.WeekEndDate.ToString("MMMM") == "August")
                    {
                        au++;
                    }
                    if (ActualRevenue.WeekEndDate.ToString("MMMM") == "September")
                    {
                        se++;
                    }
                    if (ActualRevenue.WeekEndDate.ToString("MMMM") == "October")
                    {
                        oc++;
                    }

                    if (ActualRevenue.WeekEndDate.ToString("MMMM") == "November")
                    {
                        no++;
                    }

                    if (ActualRevenue.WeekEndDate.ToString("MMMM") == "December")
                    {
                        de++;
                    }

                }
            }

            <thead>
                <tr>

                  @if (j > 0)
                  {
                    <td colspan="@j" class="text-center">January</td>

                  }
                    @if (f > 0)
                    {
                        <td colspan="@f" class="text-center">Feburary</td>

                    }
                    @if (mar > 0)
                    {
                        <td colspan="@mar" class="text-center">March</td>

                    }
                    @if (a > 0)
                    {
                        <td colspan="@a" class="text-center">April</td>

                    }
                  @if (my > 0)
                  {
                    <td colspan="@my" class="text-center">May</td>

                  }
                    @if (ju > 0)
                    {
                        <td colspan="@ju" class="text-center">June</td>

                    }
                    @if (jul > 0)
                    {
                        <td colspan="@jul" class="text-center">July</td>

                    }
                    @if (au > 0)
                    {
                        <td colspan="@au" class="text-center">August</td>

                    }
                    @if (se > 0)
                    {
                        <td colspan="@se" class="text-center">September</td>

                    }
                    @if (oc > 0)
                    {
                        <td colspan="@oc" class="text-center">October</td>

                    }

                    @if (no > 0)
                    {
                        <td colspan="@no" class="text-center">November</td>
                    }

                    @if (de > 0)
                    {
                        <td colspan="@de" class="text-center">December</td>

                    }

                </tr>

            </thead>
            <tr>

                @{int i = 0;}
                @foreach (var ActualRevenue in Model.ActualRevenue)
                {

                    if (ActualRevenue.WeekEndDate.ToString("yyyy") == count.ToString())
                    {

                        if (ActualRevenue.WeekEndDate.ToString("MMMM") == "January")
                        {
                            i++;


                        <td>Week @i<br />@ActualRevenue.Amount
                            <div class="form-group inputdivhide">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                </td>


                        }
                        if (ActualRevenue.WeekEndDate.ToString("MMMM") == "February")
                        {
                            i++;


                            <td>Week @i<br />@ActualRevenue.Amount 
                                <div class="form-group inputdivhide">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                </td>

                        }
                        if (ActualRevenue.WeekEndDate.ToString("MMMM") == "March")
                        {
                            i++;


                            <td>Week @i<br />@ActualRevenue.Amount
                                <div class="form-group inputdivhide">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                </td>

                        }
                        if (ActualRevenue.WeekEndDate.ToString("MMMM") == "April")
                        {
                            i++;


                            <td>Week @i<br />@ActualRevenue.Amount
                                <div class="form-group inputdivhide">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                </td>

                        }
                        if (ActualRevenue.WeekEndDate.ToString("MMMM") == "May")
                        {
                            i++;


                            <td>Week @i<br />@ActualRevenue.Amount
                                <div class="form-group inputdivhide">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                </td>

                        }

                        if (ActualRevenue.WeekEndDate.ToString("MMMM") == "June")
                        {
                            i++;


                        <td>
                            Week @i<br />@ActualRevenue.Amount
                            <div class="form-group inputdivhide">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                        </td>

                        }

                        if (ActualRevenue.WeekEndDate.ToString("MMMM") == "July")
                        {
                            i++;


                        <td>
                            Week @i<br />@ActualRevenue.Amount
                            <div class="form-group inputdivhide">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                        </td>

                        }

                        if (ActualRevenue.WeekEndDate.ToString("MMMM") == "August")
                        {
                            i++;


                        <td>
                            Week @i<br />@ActualRevenue.Amount
                            <div class="form-group inputdivhide">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                        </td>

                        }
                        if (ActualRevenue.WeekEndDate.ToString("MMMM") == "September")
                        {
                            i++;


                        <td>
                            Week @i<br />@ActualRevenue.Amount
                            <div class="form-group inputdivhide">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                        </td>

                        }

                        if (ActualRevenue.WeekEndDate.ToString("MMMM") == "October")
                        {
                            i++;


                        <td>
                            Week @i<br />@ActualRevenue.Amount
                            <div class="form-group inputdivhide">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                        </td>

                        }

                        if (ActualRevenue.WeekEndDate.ToString("MMMM") == "November")
                        {
                            i++;


                        <td>
                            Week @i<br />@ActualRevenue.Amount
                            <div class="form-group inputdivhide">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                        </td>

                        }

                        if (ActualRevenue.WeekEndDate.ToString("MMMM") == "December")
                        {
                            i++;


                        <td>
                            Week @i<br />@ActualRevenue.Amount
                            <div class="form-group inputdivhide">@Html.TextBox("Amount_" + @ActualRevenue.Id, @ActualRevenue.Amount, new { @class = "form-control", @style = "width:70px;" })  </div>
                        </td>

                        }
                    }
                }
</tr>

        </table>        
                    }
        <button type="submit" class="btn btn-primary inputdivhide">Save</button>  <button id="updateCancel" type="submit" class="btn btn-primary inputdivhide">Cancel</button>
                    }
    </div>
                    }
</div>
                    <button id="update" class="btn btn-success inputdivblock">Click to Update</button>


@section Scripts {

    <script type="text/javascript">
       
  
        function updateDiv() {
            alert("hello");
            document.getElementsByClassName('inputdivhide')[0].style.display = 'block';     
        }



        $("#update").click(function () {
           // alert("hello");
         
            $(".inputdivhide").removeClass("inputdivhide");
            $("#update").removeClass("inputdivblock");
            $("#update").addClass("inputdivhide");
        });
        $("#updateCancel").click(function () {
         //   alert("hello");
        
            $(".inputdivhide").removeClass("inputdivblock");
            $("#update").removeClass("inputdivhide");
            $("#update").addClass("inputdivblock");
        });


       
    </script>
}
